
<h1> Add Hero  App</h1>

<div class="well">
   <button type="button" class="btn btn-info"><a href="/squads/new">Add a Squad</a></button>
   <button type="button" class="btn btn-info"><a href="/squads">View all current Squads<s/a></button>
</div>